main {
    background-color: rgb(255, 255, 255);
    width: 1000px;
    margin: auto;
    padding: 0 20px;
}

/* ARTEFATOS */

hr {
    margin: 20px auto;
}

#artefatos {
    margin-top: 10px;
}

.artefato {
    margin: auto;
    width: 100%;
}

.artefato-nome, .artefato-objetivo, .artefato-descricao, .artefato-funcionamento {
    margin-bottom: 10px;
}

/* RESPONSIVIDADE */

@media (max-width: 1280px) {
    main {
        width: 640px;
    }
}

@media (max-width: 640px) {
    main {
        width: 100%;
    }
}