main {
    background-color: rgb(255, 255, 255);
    width: 1000px;
    margin: auto;
    padding: 0 20px;
}

/* ARTEFATOS */

hr {
    margin: 20px auto;
}

.imagem {
    border: 1px rgb(219, 219, 219) solid;
    overflow: hidden;
    width: 250px;
    background-color: rgb(255, 255, 255);
    float: right;
    margin-left: 25px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.imagem:hover {
    filter: brightness(75%);
    cursor: pointer;
}

#artefatos {
    margin-top: 10px;
}

.artefato {
    margin: auto;
    width: 100%;
}

.artefato-nome, .artefato-objetivo, .artefato-descricao, .artefato-funcionamento, .pontos-positivos, .pontos-negativos, .proposta-melhoria {
    margin-bottom: 5px;
    text-indent: 10px;
}

.artefato-objetivo, .artefato-descricao, .artefato-funcionamento, .pontos-positivos, .pontos-negativos, .proposta-melhoria {}

.botoes {
    margin-top: 10px;
}

/* CARD */

.card-default {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 7.5px;
    box-shadow: 0 2.5px 5px rgba(0, 0, 0, 0.25);
    width: 90%;
    margin: auto;
    margin-bottom: 30px;
    padding: 15px 20px;
}

.card-default h3 {
    margin-top: 10px;
    margin-bottom: 5px;
}

.card-default h4 {
    margin-top: 0;
    margin-bottom: 0;
}

/* RESPONSIVIDADE */

@media (max-width: 1280px) {
    main {
        width: 640px;
    }

    .card-default {
        width: 95%;
    }
}

@media (max-width: 640px) {
    main {
        width: 100%;
    }
}