.contacts{
    background-color: var(--black);
    display: flex;
    flex-direction: column;
    color: var(--white);
    text-decoration: none;
    text-align: center;
    list-style-type: none;
}
.contacts h3{
    font-size: 18px;
    margin: 20px ;
}
footer p{
    list-style-type: none;
    text-decoration: none;
    color: var(--white);
    display: flex;
    flex-direction: column;
}

footer .contacts img {
    width: 25px;
}


footer ul {
    display:flex;
    flex-direction: column;
    list-style: none;
    padding: 0;

}

footer li {
    padding: 10px;
    display: flex;
    justify-content: center;
    text-align: center;
}

footer p {
    text-align: justify;
    margin: 0 10px;
}
