@import url('https://fonts.googleapis.com/css?family=Inter');

:root {
    --blue: #020074;
    --white: #ffffff;
    --black: #000000;
    --blueblack: #010040;
    --font-size-logo: 30px;
    --font-size-lg: 18px;
    --font-size-md: 16px;
    --font-size-sm: 14px;
}

* {
    font-family: 'Inter';
    margin: 0;
    padding: 0;
}

body {
    font-family: inter;
    background-color: rgb(242, 242, 242);
}