@import url('https://fonts.googleapis.com/css?family=Inter');

:root {
    --blue: #020074;
    --white: #ffffff;
    --black: #000000;
    --blueblack: #010040;
    --font-size-logo: 30px;
    --font-size-lg: 18px;
    --font-size-md: 16px;
    --font-size-sm: 14px;
}

* {
    font-family: 'Inter';
    margin: 0;
    padding: 0;
}

body {
    font-family: inter;
    background-color: rgb(242, 242, 242);
}

a {
    text-decoration: none;
}

hr#breakpoint {
    opacity: 0;
}

/* BOTOES */

.btn-default {
    transition: .25s;
    margin: auto;
    padding: 10px;
    background-color: rgba(2, 0, 116, 1);
    border: 1px rgb(207, 207, 207) solid;
    border-radius: 10px;
    color: var(--white);
}

.btn-default:hover {
    transition: .25s;
    background-color: rgba(2, 0, 116, 0.81);
    cursor: pointer;
}

/* FORMULÁRIO */

.form-default {
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 25rem;
    padding: 20px;
}

.form-default input, select {
    margin-top: 5px;
    margin-bottom: 10px;
    padding: 7.5px;
    border: 1px grey solid;
    border-radius: 0;
}

.form-default option {
    border-radius: 0;
}

button#buscar {
    margin: auto;
    margin-top: 10px;
    width: 4rem;
    padding: 7.5px;
}

/* PAGINAÇÃO */

h1.no-results {
    text-align: center;
    padding: 40px 0;
}

#paginacao {
    margin-top: 10px;
}

#paginacao li {
    margin-bottom: 10px;
}

#paginacao ul {
    list-style: none;
    display: flex;
    justify-content: center;
    text-align: center;
}

#paginacao li {
    font-size: 20px;
    color: rgb(87, 87, 87);
}

#paginacao li::after {
    clear: both;
    content: "";
    display: block;
}

#paginacao li:hover {
    cursor: pointer;
}

#paginacao a {
    color: grey;
    padding: 10px;
}

.active {
    background-color: rgb(219, 219, 219);
    border-radius: 5px;
}

/* RESPONSIVIDADE */

@media (max-width: 1280px) {
    * {
        font-size: var(--font-size-md);
    }

    .logo-repository {
        font-size: 26px;
    }
}

@media (max-width: 640px) {
    * {
        font-size: var(--font-size-sm);
    }

    .logo-repository {
        font-size: 22px;
    }

    .form-default {
        padding: 20px 0;
    }
}

@media (max-width: 370px) {
    .form-default {
        width: 100%;
    }
}