@import url('https://fonts.googleapis.com/css?family=Inter');

:root {
    --blue: #020074;
    --white: #ffffff;
    --black: #000000;
    --blueblack: #010040;
    --font-size-logo: 30px;
    --font-size-lg: 18px;
    --font-size-md: 16px;
    --font-size-sm: 14px;
}

* {
    font-family: 'Inter';
    margin: 0;
    padding: 0;
}

body {
    font-family: inter;
    background-color: rgb(242, 242, 242);
}

a {
    text-decoration: none;
}

hr#breakpoint {
    opacity: 0;
}

/* BOTOES */

.btn-default {
    transition: .25s;
    margin: auto;
    padding: 7.5px;
    background-color: rgb(207, 207, 207);
    border: 1px rgb(207, 207, 207) solid;
}

.btn-default:hover {
    transition: .25s;
    background-color: rgb(168, 221, 255);
    border: 1px rgb(168, 221, 255) solid;
    cursor: pointer;
}

/* RESPONSIVIDADE */

@media (max-width: 1280px){
    * {
        font-size: var(--font-size-md);
    }

    .logo-repository {
        font-size: 26px;
    }
}

@media (max-width: 640px){
    * {
        font-size: var(--font-size-sm);
    }

    .logo-repository {
        font-size: 22px;
    }
}